* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #303030;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}
header {
    background-color: #303030;
    height: 30px;
    min-height: 20px;
    padding-top: 18px;
    padding-bottom: 10px;
    padding-left: 6em;
    padding-right: 13em;
}
nav {
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.row {
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
}
.social-icons {
    display: flex;
    /* justify-content: space-between; */
    list-style: none;
}
.social-icons li {
    padding-right: 20px;
}
.social-icons li a {
    text-decoration: none;
    color: #fff;
    padding: 3px;
    transition: all .5s;
}
.social-icons li a:hover {
    background-color: #337ab7;;
}
 
.phone .fa-phone {
    color: #28a7e9;
    padding-right: 5px;
}
.phone span {
    padding-right: 5px;
}
.phone p {
    font-weight: 300;
}
.email a {
    text-decoration: none;
    color: #999;
}
.email a:hover {
    color: #72faff;
    text-decoration: underline;
}
.email .fa-envelope-o {
    color: #28a7e9;
    padding-right: 5px;
}
.email span {
    padding-right: 5px;
}
.navbar {
    background-color: #fff;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    padding-right: 7em;
    padding-left: 6em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.navbar-header a{
    text-decoration: none;
    color: #777777;
    font-size: 1.5em;
}
.collapse {
    padding-top: .4em;
}
.collapse ul {
    list-style: none;
}
.collapse ul li {
    padding-right: 2em;
}
.collapse ul li a {
    text-decoration: none;
    color: #777777;
    font-size: 0.8em;
    font-weight: 700;
}
.collapse ul li a:hover {
    color: #000;
}
.nav {
    display: flex;
}
#home {
    background: url(../images/home-bg.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding-top: 5em;
}
#home h1 {
    font-weight: 300;
    font-size: 70px;
    padding-bottom: 10px;
}
#home span {
    color: #28a7e9;
    font-weight: bold;
}
#home p {
    height: 60px;
    font-size: 16px;
    font-weight: 300;
}
#home button {
    background: transparent;
    text-transform: uppercase;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    width: 180px;
    height: 60px;
    transition: all 0.4s ease-in-out;
}
#home button:hover {
    background: #28a7e9;
    border-color: transparent;
}
#about {
    background-color: #303030;
    /* padding-bottom: 6em; */
}
#about .header h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
    padding-top: 2em;
}
#about .header h2 span {
    color: #28a7e9;
    font-weight: bold;
   
}
.media {
    display: flex;
    justify-content: space-between;
    padding-right: 8em;
    padding-left: 8em;
    margin-right: auto;
    margin-left: auto;
}
.full {
    display: flex;
}
.text1 p {
    font-size: 14px;
    line-height: 1.42857143;
}
.text1 h3 {
    padding-bottom: 32px;
}
.media-object1 .fa-mobile {
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-size: 24px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-right: 20px;
    margin-top: -1em;
}
.free {
    display: flex;
}
.text2 p {
    font-size: 14px;
    line-height: 1.42857143;
}
.text2 h3 {
    padding-bottom: 32px;
}
.media-object2 .fa-comment-o {
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-size: 24px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-right: 20px;
    margin-top: -1em;
}
.dev {
    display: flex;
}
.text3 p {
    font-size: 14px;
    line-height: 1.42857143;
}
.text3 h3 {
    padding-bottom: 32px;
}
.media-object3 .fa-html5 {
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-size: 24px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-right: 20px;
    margin-top: -1em;
}
#team {
    background-color: #303030;
    padding-left: 6em;
    padding-right: 4em;
}
.team-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-right: 0;
    padding-top: 60px;
    padding-bottom: 50px;
}
.member1 {
    margin-right: 2em;
    background-color: #373737;
    /* transition: all .5s; */
}
.member1:hover {
    cursor: pointer;
    opacity: .5;
    margin-top: -0.2em;
    margin-bottom: 0.2em;
}
.member1 img {
    height: 260px;
    width: 265px;
    transition: all 0.5s;
}
/* .member1:hover {
    margin-top: -0.6em;
} */
.member2 {
    margin-right: 2em;
    background-color: #373737;
    /* transition: all .5s; */
}
.member2:hover {
    cursor: pointer;
    opacity: .5;
    margin-top: -0.2em;
    margin-bottom: 0.2em;
}
.member2 img {
    height: 260px;
    width: 265px;
    transition: all 0.5s;
}
/* .member2 img:hover {
    margin-top: -0.6em;
} */
.member3 {
    margin-right: 2em;
    background-color: #373737;
    /* transition: all .5s; */
}
.member3:hover {
    cursor: pointer;
    opacity: .5;
    margin-bottom: 0.2em;
    margin-top: -0.2em;
}
.member3 img {
    height: 260px;
    width: 265px;
    transition: all 0.5s;
}
.member4 {
    margin-right: 2em;
    background-color: #373737;
    /* transition: all .5s; */
}
.member4:hover {
    cursor: pointer;
    opacity: .5;
    margin-top: -0.2em;
    margin-bottom: 0.2em;
}
.member4 img {
    height: 260px;
    width: 265px;
    transition: all 0.5s;
}
.team-header h2 {
    text-align: center;
    font-size: 40px;
    padding-top: 2em;
}
.team-header span {
    color: #28a7e9;
    font-weight: bold;
}
.team1-des {
    padding: 2em 1em;
}
.team1-des h3 {
    padding-bottom: .3em;
}
.team1-des span {
    color: #28a7e9;
    font-weight: bold;
    font-size: 0.8em;
    padding-bottom: 1em;
}
.team1-des p {
    font-size: .8em;
    padding-top: .4em;
}
.team2-des {
    padding: 2em 1em;
}
.team2-des h3 {
    padding-bottom: .3em;
}
.team2-des span {
    color: #28a7e9;
    font-weight: bold;
    font-size: 0.8em;
    padding-bottom: 1em;
}
.team2-des p {
    font-size: .8em;
    padding-top: .4em;
}
.team3-des {
    padding: 2em 1em;
}
.team3-des h3 {
    padding-bottom: .3em;
}
.team3-des span {
    color: #28a7e9;
    font-weight: bold;
    font-size: 0.8em;
    padding-bottom: 1em;
}
.team3-des p {
    font-size: .8em;
    padding-top: .4em;
}
.team4-des {
    padding: 2em 1em;
}
.team4-des h3 {
    padding-bottom: .3em;
}
.team4-des span {
    color: #28a7e9;
    font-weight: bold;
    font-size: 0.8em;
    padding-bottom: 1em;
}
.team4-des p {
    font-size: .8em;
    padding-top: .4em;
}
#service {
    background-color: #303030;
}
.service-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 9em;
    padding-left: 8em;
    padding-bottom: 4em;
}
.service-header h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
    padding-top: 2em;
}
.service-header span {
    color: #28a7e9;
    font-weight: bold; 
}
.web {
    padding: 2em;
    transition: all .5s;
}
.web:hover {
    background-color: #505050;
}
.web .fa-laptop {
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-size: 50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.web h3 {
    color: #28a7e9;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.web p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: 300;
}
.cloud {
    padding: 2em;
    background-color: #505050;
}
.cloud .fa-cloud {
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-size: 50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.cloud h3 {
    color: #28a7e9;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cloud p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: 300;
}
.ux-design {
    padding: 2em;
    transition: all .5s;
}
.ux-design:hover {
    background-color: #505050;
}
.ux-design .fa-cog {
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-size: 50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.ux-design h3 {
    color: #28a7e9;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ux-design p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: 300;
}
#portfolio {
    background-color: #303030;
}
.port-text h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    padding-top: 2em;
}
.port-text span {
    color: #28a7e9;
    font-weight: bold;
}
.port-images {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center; */
    /* grid-template-rows: 0px; */
    /* grid-template-areas: 
        "img1 img2 img3 img4"
        "img5 img6 img7 img8"
    ; */
    display: flex;
    flex-wrap: wrap;
    padding-left: 5em;
}
.port-img1 {
    position: relative;
    display: inline-block;
    /* grid-area: img1; */
}
.port-img1 .overlay1 {
    position: absolute;
    z-index: 0;
    margin: 0 auto;
    /* left: 0;
    right: 0; */
    top: 0%;
    padding: 2em 1em;
    /* text-align: center; */
    width: 89.5%;
    height: 66.5%;
    /* background: #28a7e9;
    opacity: .7; */
    /* cursor: pointer; */
    opacity: 0;
    transition: all .5s;
}
.port-img1 .overlay1:hover {
    /* background-color: red; */
    cursor: pointer;
    background: #28a7e9;
    opacity: .7;
}
.port-img1 .overlay1 p {
    font-size: .9em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.port-img1 .overlay1 button {
    background: none;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.port-img2 {
    position: relative;
    display: inline-block;
    /* grid-area: img2; */
}
.port-img2 .overlay1 {
    position: absolute;
    z-index: 0;
    margin: 0 auto;
    /* left: 0;
    right: 0; */
    top: 0%;
    padding: 2em 1em;
    /* text-align: center; */
    width: 89.5%;
    height: 66.5%;
    /* background: #28a7e9;
    opacity: .7; */
    /* cursor: pointer; */
    opacity: 0;
    transition: all .5s;
}
.port-img2 .overlay1:hover {
    /* background-color: red; */
    cursor: pointer;
    background: #28a7e9;
    opacity: .7;
}
.port-img2 .overlay1 p {
    font-size: .9em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.port-img2 .overlay1 button {
    background: none;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.port-img3 {
    position: relative;
    display: inline-block;
    /* grid-area: img3; */
}
.port-img3 .overlay1 {
    position: absolute;
    z-index: 0;
    margin: 0 auto;
    /* left: 0;
    right: 0; */
    top: 0%;
    padding: 2em 1em;
    /* text-align: center; */
    width: 89.5%;
    height: 66.5%;
    /* background: #28a7e9;
    opacity: .7; */
    /* cursor: pointer; */
    opacity: 0;
    transition: all .5s;
}
.port-img3 .overlay1:hover {
    /* background-color: red; */
    cursor: pointer;
    background: #28a7e9;
    opacity: .7;
}
.port-img3 .overlay1 p {
    font-size: .9em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.port-img3 .overlay1 button {
    background: none;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.port-img4 {
    position: relative;
    display: inline-block;
    /* grid-area: img4; */
}
.port-img4 .overlay1 {
    position: absolute;
    z-index: 0;
    margin: 0 auto;
    /* left: 0;
    right: 0; */
    top: 0%;
    padding: 2em 1em;
    /* text-align: center; */
    width: 89.5%;
    height: 66.5%;
    /* background: #28a7e9;
    opacity: .7; */
    /* cursor: pointer; */
    opacity: 0;
    transition: all .5s;
}
.port-img4 .overlay1:hover {
    /* background-color: red; */
    cursor: pointer;
    background: #28a7e9;
    opacity: .7;
}
.port-img4 .overlay1 p {
    font-size: .9em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.port-img4 .overlay1 button {
    background: none;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.port-img5 {
    position: relative;
    display: inline-block;
    /* grid-area: img5; */
}
.port-img5 .overlay1 {
    position: absolute;
    z-index: 0;
    margin: 0 auto;
    /* left: 0;
    right: 0; */
    top: 0%;
    padding: 2em 1em;
    /* text-align: center; */
    width: 89.5%;
    height: 66.5%;
    /* background: #28a7e9;
    opacity: .7; */
    /* cursor: pointer; */
    opacity: 0;
    transition: all .5s;
}
.port-img5 .overlay1:hover {
    /* background-color: red; */
    cursor: pointer;
    background: #28a7e9;
    opacity: .7;
}
.port-img5 .overlay1 p {
    font-size: .9em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.port-img5 .overlay1 button {
    background: none;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.port-img6 {
    position: relative;
    display: inline-block;
    /* grid-area: img6; */
}
.port-img6 .overlay1 {
    position: absolute;
    z-index: 0;
    margin: 0 auto;
    /* left: 0;
    right: 0; */
    top: 0%;
    padding: 2em 1em;
    /* text-align: center; */
    width: 89.5%;
    height: 66.5%;
    /* background: #28a7e9;
    opacity: .7; */
    /* cursor: pointer; */
    opacity: 0;
    transition: all .5s;
}
.port-img6 .overlay1:hover {
    /* background-color: red; */
    cursor: pointer;
    background: #28a7e9;
    opacity: .7;
}
.port-img6 .overlay1 p {
    font-size: .9em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.port-img6 .overlay1 button {
    background: none;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.port-img7 {
    position: relative;
    display: inline-block;
    /* grid-area: img7; */
}
.port-img7 .overlay1 {
    position: absolute;
    z-index: 0;
    margin: 0 auto;
    /* left: 0;
    right: 0; */
    top: 0%;
    padding: 2em 1em;
    /* text-align: center; */
    width: 89.5%;
    height: 66.5%;
    /* background: #28a7e9;
    opacity: .7; */
    /* cursor: pointer; */
    opacity: 0;
    transition: all .5s;
}
.port-img7 .overlay1:hover {
    /* background-color: red; */
    cursor: pointer;
    background: #28a7e9;
    opacity: .7;
}
.port-img7 .overlay1 p {
    font-size: .9em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.port-img7 .overlay1 button {
    background: none;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.port-img8 {
    position: relative;
    display: inline-block;
    /* grid-area: img8; */
}
.port-img8 .overlay1 {
    position: absolute;
    z-index: 0;
    margin: 0 auto;
    /* left: 0;
    right: 0; */
    top: 0%;
    padding: 2em 1em;
    /* text-align: center; */
    width: 89.5%;
    height: 66.5%;
    /* background: #28a7e9;
    opacity: .7; */
    /* cursor: pointer; */
    opacity: 0;
    transition: all .5s;
}
.port-img8 .overlay1:hover {
    /* background-color: red; */
    cursor: pointer;
    background: #28a7e9;
    opacity: .7;
}
.port-img8 .overlay1 p {
    font-size: .9em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.port-img8 .overlay1 button {
    background: none;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.port-img1 img {
    width: 300px;
}
/* .port-img2 {
    margin-left: 2.25em;
} */
.port-img2 img {
    width: 300px;
}
.port-img3 img {
    width: 300px;
}
/* .port-img4 {
    margin-left: 2.25em;
} */
.port-img4 img {
    width: 300px;
}
.port-img5 img {
    width: 300px;
}
.port-img6 img {
    width: 300px;
}
.port-img7 img {
    width: 300px;
}
/* .port-img8 {
    margin-left: 2.25em;
} */
.port-img8 img {
    width: 300px;
}
#contact {
    background-color: #202020;
}
.contact-text h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    padding-top: 2em;
}
.contact-text span {
    color: #28a7e9;
    font-weight: bold;
}
.con-details {
    display: flex;
    padding-right: 6em;
    padding-left: 6em;
    padding-bottom: 2em;
}
.icons ul {
    list-style: none;
}
.icons ul li {
    margin-right: 1em;
}
.icons ul li a {
    text-decoration: none;
    color: #fff;
    transition: all .5s;
}
.icons ul li a:hover {
    background: #28a7e9;
    border-color: transparent;
}
.social-icon {
    display: flex;
    vertical-align: middle;
}
.icons {
    padding-top: 1em;
}
.social-icon .fa {
    border: 1px solid #fff;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-rendering: auto;
    /* transform: translate(0, 0); */
}
.social-icon li:first-of-type {
    align-self: center;
    display: inline-block;
    padding-right: 20px;
}
.con-address .fa {
    border: 1px solid #fff;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}
.address p {
    margin: 0 0 10px;
    font-size: .8em;
    padding-bottom: 1em;
}
.address h3 {
    padding-bottom: 1em;
}
.con-form {
    width: 50%;
    padding-right: 2em;
}
.con-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.con-form form .control {
    background: transparent;
    border: 1px solid #28a7e9;
    height: 30px;
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
    margin-top: 6px;
    margin-bottom: 16px;
    padding: 1em;
}
.con-form form .control:focus {
    outline: none;
}
.con-form form .control:last-of-type {
    background: transparent;
    border: 1px solid #28a7e9;
    height: 60px;
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
    margin-top: 6px;
    margin-bottom: 16px;
    padding: 1em;
}
.con-form form .submit {
    font-size: 1em;
    line-height: 1.42857143;
    height: 50px;
    background-color: #28a7e9;
    border: 1px solid #28a7e9;
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
    margin-top: 6px;
    margin-bottom: 16px;
    transition: box-shadow, background-color .5s ease-in-out;
}
.con-form form .submit:hover {
    cursor: pointer;
    background: transparent;
    border: 1px solid #28a7e9;
}
.con-form form .submit:focus {
    font-size: 1em;
    padding: .7em;
}
#footer {
    background-color: #505050
}
#footer p {
    font-weight: 400;
    text-align: center;
    height: 40px;
    font-size: .9em;
    padding-top: 1em;
}
hr{
    height: 0.1em;
    background-color: #505050;
    border: none;
}
@media only screen and (max-width: 600px) {
    header {
        height: 60px;
    }
    .header h2 {
        font-size: 35px;
    }
    .navbar-header a {
        margin-left: -3.5em;
    }
    .service-header h2 {
        font-size: 35px;
    }
    .social-icon {
        justify-content: flex-start;
    }
    .port-text h2 {
        font-size: 35px;
    }
    
    .row {
        display: flex;
        flex-direction: column;
    }
    .media {
        padding-right: 0.3em;
        padding-left: 0.4em;
    }
    .team-wrapper > div {
        padding-bottom: 2em;
    }
    .member1 {
        margin-right: 0;
        padding-right: 0;
    }
    .member2 {
        margin-right: 0;
        padding-right: 0;
    }
    .member3 {
        margin-right: 0;
        padding-right: 0;
    }
    .member4 {
        margin-right: 0;
        padding-right: 0;
    }
    .navbar-collapse {
        display: none;
    }
    #home {
        height: 60vh;
    }
    #home h1 {
        font-size: 50px;
    }
    #team {
        padding: 0;
    }
    .team-wrapper > div > img {
        height: 450px;
        width: 510px;
        padding-left: 1em;
    }
    .service-list {
        padding-right: 0;
        padding-left: 0;
    }
    .port-images > div > img {
        width: 490px;
        height: 360px;
    }
    .con-details {
        width: 94.3%;
        padding: 0;
    }
    .con-address {
        padding-left: 1em;
    }
    .con-form {
        width: 100%;
        padding: 1em;
    }
    .media {
        display: flex;
        flex-direction: column;
    }
    .media > div {
        padding-bottom: 2em;
    }
    .navbar {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .team-wrapper {
        display: flex;
        flex-direction: column;
    }
    .service-list {
        display: flex;
        flex-direction: column;
    }
    .port-images {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        padding-left: 4em;
    }
    .port-images > div .overlay1 {
        width: 85.4%;
        height: 81.1%;
    }
    .con-details{
        display: flex;
        flex-direction: column;
    }
}